.table-skeleton {
    thead tr th {
        background: #2f4b74!important;
        color: #fff;
        border-bottom:unset!important;
    }

    td {
        border-top: 1px solid #d7d5da!important;
    }

    tbody tr  {
        background: #d5cedf12  !important;
    }
}