<!doctype html>
<html>

<head>
	<title>Proposta</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<style>
    @page {
      size: A4;
    }
    @media print {
      .page {
          margin-left: 5%;
          margin-right: 5%;
          margin-bottom: 4%;
          width: 100%;
          position: relative;
      }
      .wrapper {
        page-break-inside : avoid;
      }
    }

		.header img {
			display: none;
		}

    .titulo-nome {
      font-weight: bold;
      font-size: 18px;
    }
	</style>
</head>

<body class="body">
	<div id="target" style="width: 100%;">
    <script id="template" type="x-tmpl-mustache">
      <div style="display: non-flexbox; width: 100%; margin-right: 5%">
        <div class="header">
          <img max-width:100% style="margin-bottom: 1%" src="https://prodnhidro.blob.core.windows.net/storage/proposta.png">
        </div>
        <div style="display: inline-flex;width: 100%;height: 70px; margin-top: 2%">
          <div style="width: 40%">
            <p style="margin-left: 15%; margin-top: 2%"><b>Nº {{ Id }}</b></p>
          </div>
          <div class="page" style="color: red; width: 60%; text-align: end">
            <p style="font-size:18px">{{ Cidade }}, {{Data}}</p>
          </div>
        </div>
        <div class="page" style="border-bottom: 1px dotted; margin-bottom: 1%">
          <p>À</p>
          <h4><b>{{ Cliente }}</b></h4>
          <p class="text-secondary">{{ EnderecoCliente }}</p> <br />
          <p style="margin-bottom: 0">A/C Sr(a). <span style="margin-left:30px" class="text-secondary"><strong>{{ Contato }}</strong> | {{ SetorContato }}</span></p>
          <p style="margin-bottom: 0" class="text-secondary">Telefone: <span style="margin-left:33px">{{ TelefoneContato }} | Celular: {{CelularContato}}</span></p>
          <p class="text-secondary" style="margin-bottom: auto">E-mail: <span style="margin-left:48px">{{ EmailContato }}</span></p>
        </div>
        <div class="page">
          <p style="margin-right: 15%">{{ Introducao }}</p>
        </div>
        <div class="page">
          <h6 class="titulo-nome">1. Objetivo:</h6>
          <p style="margin-right: 15%"> {{{Objetivo}}}</p>
        </div>
        <div class="page" style="margin-bottom: 1%">
          <h6 class="titulo-nome">2. Equipamentos:</h6>
          {{#Equipamentos}}
          <div class="d-table mt-5 wrapper" style="width: 100%">
            <div class="d-table-cell pr-5" style="width: 40%">
              <img src={{ Equipamento.UrlImagem }}
                alt="Nacional Hidro" style="width: 400px; height: 220px; object-fit: fill;">
            </div>
            <div class="d-table-cell" style="width: 60%; vertical-align: top">
              <p style="bottom: 75px; margin-right: 25%; font-size: small; text-align: justify"><u class="font-weight-bold">{{ Equipamento.Equipamento }}</u>: {{ Equipamento.Descricao }}</p>
            </div>
          </div>
          {{/Equipamentos}}
        </div>
        <div class="page">
          <h6 class="titulo-nome">3. Equipe de trabalho por equipamento e por período:</h6>
          {{#EquipesEquipamento}}
          <p style="margin-right: 15%">{{ key }}: {{#values}}{{ Quantidade }} {{ Cargo.Descricao }}; {{/values}}</p>
          {{/EquipesEquipamento}}
          {{#EquipesUnicas}}
          <p style="margin-right: 15%">{{ Quantidade }} {{ Cargo.Descricao }}</p>
          {{/EquipesUnicas}}
        </div>
        <div class="page">
          <h6 class="titulo-nome">4. Acessórios:</h6>
          <ul class="pl-5" style="list-style-type:circle">
            {{#Acessorios}}
            <li style="margin-right: 15%">{{ Nome }}</li>
            {{/Acessorios}}
          </ul>
        </div>
        <div class="page">
          <h6 class="titulo-nome">5. Responsabilidades:</h6>
          <p class="font-weight-bold mt-3 pl-2">Contratante:</p>
          <ul>
            {{#RespContratante}}
            <li style="margin-right: 25%">{{ Responsabilidade.Responsabilidade }} </li>
            {{/RespContratante}}
          </ul>
          <p class="font-weight-bold mt-3 pl-2">Contratada (Nacional Hidro):</p>
          <ul>
            {{#RespContratada}}
            <li style="margin-right: 25%">{{ Responsabilidade.Responsabilidade }} </li>
            {{/RespContratada}}
          </ul>
        </div>
        <div class="page">
          <h6 class="titulo-nome myDiv">6. Valores Comerciais:</h6>
          <pre style="margin-right: 15%;border: none; font-size:1rem; font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"">{{{DescricaoValores}}}</pre>
        </div>
        <div class="page">
          <h6 class="titulo-nome">7. Garantia de Atendimento:</h6>
          <pre style="margin-right: 15%;border: none; font-size:1rem; font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"">{{{DescricaoGarantia}}} </pre>
        </div>
        <div class="page">
          <h6 class="titulo-nome">8. Condição de Pagamento:</h6>
          <div style="margin-right: 15%">{{{CondicaoPagamento}}} </div><br />
        </div>
        <div class="page">
          <h6 class="titulo-nome">9. Validade da Proposta:</h6>
          <p style="margin-right: 15%">{{ ValidadeProposta }} </p>
        </div>
        <div class="page">
          <p style="margin-right: 15%">Colocamo-nos ao Vosso inteiro dispor para qualquer esclarecimento técnico e/ou comercial que se faça
            necessário.</p> <br />
          <p>Grato,</p>
        </div>
        <div style="margin-bottom:2%" class="page">
          <img width="30%" src={{Assinatura}}>
        </div>
        <div class="page">
          <h6>{{ Empresa.Descricao }} - {{Empresa.CNPJ }}</h6>
        </div>
  
      </div>
    </script><!--remove-->
  </div>
</body>
</html>